div{
    background-color: coral;
    font-size: 30px;
    width: 400px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    color: darkgoldenrod;
    font-weight: bold;
}

.fontclass{
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
}